@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
}

img {
    display: block;
    max-width: 100%;
}

.conteiner {
    width: 22em;
    height: 34em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.qr-code {
    margin: 1em;
    max-height: 20em;
    border-radius: 5%;
}

.title {
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 1.2em;
}

.description {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
}